@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400&family=Victor+Mono:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --couleur-principale: #16181e;
  --couleur-secondaire: #21242d;
  --couleur-texte1: #fff;
  --couleur-texte2: #00b9ae;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Handjet', cursive;  
  text-decoration: none;
  list-style: none;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  text-align: start;
  margin-top: 10rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
}

#title-font{
  font-size: 20rem;
}

.color-stream {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--couleur-texte2);
}

.color-good {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--couleur-texte1);
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  gap: 20rem;
}

.item-1 {
  font-size: 4rem;
  color: var(--couleur-texte1);
  margin-left: 2rem;
}



.btn {
  --color: #00A97F;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color);
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--couleur-texte1);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }

 /* Styles généraux */


@media (min-width: 320px) and (max-width: 480px) {

  .title {
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: .5rem;
    margin-left: 0rem;
  }
  
  #title-font{
    font-size: 4.5rem;
  }

  .item-container {
    gap: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .item-1 {
    font-size: 1rem;
    color: var(--couleur-texte1);
    justify-content: center;
    margin: left;
  }

  .btn {
    font-size: 10px;
    margin-left: 1rem;
   }
}

@media (min-width: 481px) and (max-width: 760px) {
  .btn {
    font-size: 15px;
    margin-left: 4rem;
   }

   .item-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  #title-font{
    font-size: 18rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #title-font{
    font-size: 18rem;
  }

  .btn {
    font-size: 20px;
    margin-left: 2rem;
   }

   .title {
    text-align: start;
    margin-top: 10rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
  }

  .item-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .btn {
    font-size: 20px;
    margin-left: 2rem;
   }

   .item-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }
}