@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400&family=Victor+Mono:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --couleur-principale: #16181e;
  --couleur-secondaire: #21242d;
  --couleur-texte1: #fff;
  --couleur-texte2: #00b9ae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Handjet', cursive;  
  text-decoration: none;
  list-style: none;
}


#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.logo .color-stream {
  color: var(--couleur-texte2);
}

.logo .color-good {
  color: var(--couleur-texte1);
}

.item-1{
  color: var(--couleur-texte1);
}


@media (min-width: 1000px) {
  .title{
    width: 100%;
    height: 600px;
    padding: 10px;
    overflow-x: hidden;
    font-size: 6rem;
    display: flex;
    align-items: end;
  }

  .item-container{
    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 3rem;
    overflow-x: hidden;
  }

  .item-2{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: end;
  }

  .btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--couleur-texte1);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
}


@media (max-width: 1000px) {

  body{
    padding-top: 100px;
  }

  .title{
    width: 70%;
    height: 70px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
  }

  .item-container{
    width: 70%;
    height: 200px;
    margin: 0 auto;
  }

  .item-1{
    padding-top: 40px;
    padding-left: 30px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--couleur-texte1);
  }

  .item-2{
    width: 100%;
    height: 100px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }

  .btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: bolder;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--couleur-texte1);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
}