@import url("https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap");

:root {
  --couleur-principale: #16181e;
  --couleur-secondaire: #21242d;
  --couleur-texte1: #fff;
  --couleur-texte2: #00b9ae;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Victor Mono", monospace;
}

body {
  background-color: var(--couleur-principale);
}

/* sidebar Logo */
.logo {
  margin-top: 2rem;
  margin-left: 1rem;
  font-weight: bolder;
}

.logo .color-stream {
  text-decoration: none;
  color: var(--couleur-texte2);
}

.logo .color-good {
  color: var(--couleur-texte1);
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: var(--couleur-secondaire);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-title {
  color: var(--couleur-texte1);
  font-size: 500;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: var(--couleur-texte1);
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  color: var(--couleur-texte2);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: var(--couleur-texte2);
}

/* groupe des titles */
.group-title-one {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.group-title-two {
  margin-bottom: 6rem;
}

/* .group-title-three{
  } */

/* Contenu de la page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content1-search {
  width: 400px;
  height: 50px;
  margin-top: 2rem;
  background-color: #21242d;
  border: solid 2px #00b9ae;
  border-radius: 5px;
}

.content1-search:focus {
  border: solid 1px #00b9ae;
  outline: none;
}

.content1-title {
  color: var(--couleur-texte1);
  margin-right: 50rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.video-big{
  width: 700;
  height: 500px;
  border-radius: 10px;
  border: solid 2px #00b9ae;
}

.container-two{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: var(--couleur-texte1);
}

.carousel{
  width: 1500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: 20rem;
  padding: 0;
}

.content-one, .content-two, .content-three, .content-four{
  width: 300px;
  height: 300px;
  border: #00b9ae solid 2px;
  margin: 2rem;
  border-radius: 10px;
}




/* Respnsivité */
@media screen and (max-width: 1440px) {
  .content1-search {
    width: 200px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }



  .video-big{
    width: 600px;
    height: 400px;
    margin-left: 12rem;
    margin-top: 6rem;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }

  .group-title-one {
    margin-top: 2rem;
  }

  .content1-search {
    width: 200px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }

  .content1-title {
    margin-right: 25rem;
    margin-top: 2rem;
  }

  .video-big{
    width: 600px;
    height: 400px;
    margin-left: 0;
    margin-top: O;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 425px) {

  *{
    font-size: 10px;
  }
  .sidebar a {
    font-size: 10px;
  }

  .group-title-one {
    margin-top: 2rem;
  }

  .content1-title {
    color: var(--couleur-texte1);
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 13px;
  }

  .video big{
    width: 300px;
    height: 100px;
    margin-left: 0;
    margin-top: 0;
  }
}
